<h2>Create a new celebrity</h2>

<form action="/celebrities" method="post">

  <input type="text" name="name" placeholder="Name: " />

  <select name="occupation" id="">
    <option selected disabled value="">Select an occupation:</option>
    <option value="actor">actor</option>
    <option value="comedian">comedian</option>
    <option value="unknown">unknown</option>

  </select>

  <input type="text" name="catchPhrase" placeholder="Catch phrase: " />

  <button>Create a new celebrity</button>

</form>
<a href="/">HOME</a>